In [38]:
import pandas as pd
import numpy as np

# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)
# main_df = pd.read_csv('C://Users//padma//Documents//GNN_PAPER//Mobility and census//3rdDecMob.csv') # change the file name for each day
# #print(main_df.head())
# merge = main_df[main_df['origin_county_FIPS']==main_df['destination_county_FIPS']]
# #print(merge.head())
# merge = merge[['origin_county_FIPS','mean_distance_traveled_from_home']]
# census_df = pd.read_excel('C://Users//padma//Documents//GNN_PAPER//Mobility and census//county_census.xlsx')
# merged = pd.merge(merge,census_df, left_on= 'origin_county_FIPS',right_on= 'id',how = 'inner')
# merged=merged.drop('id', axis =1)
# merged

In [39]:
census_df = pd.read_csv('C://Users//padma//Documents//GNN_PAPER//nodes.csv')
census_df.drop(census_df.iloc[:, 0:1], inplace = True, axis = 1)
census_df

,origin_county_FIPS,mean_distance_traveled_from_home,Over_62,Total_population,less_than_high,at_least_bachelor,median_income,below_poverty_100_percent,moved_within_same,moved_from_different_same_state,moved_from_different_state,from_abroad,percentage_renter,employment_population_ratio,unemployment_rate,total_workers,service_occupation,educational_services_healthcare_social_assistance,uninsured,risk
0,1001,7327.808835,17.425063,55380,7.748285,17.928855,29725,14.792344,5.4,3.7,2.8,0.2,25.745373,55.8,3.7,24522,16.8,20.230813,7.068485,565.600165
1,1003,8251.814543,24.391298,212830,6.527745,22.622751,29802,10.035239,6.2,2.3,2.9,0.4,23.236205,55.2,4.3,95091,17.8,20.250076,8.881862,2031.578001
2,1005,11323.359240,22.400536,25361,18.974015,8.201569,17963,26.162218,9.3,3.1,1.9,0.3,39.532575,40.8,9.2,8413,15.4,18.269345,11.319244,174.525585
3,1007,9084.631424,19.850620,22493,15.053572,7.460099,21958,16.191704,3.5,5.6,1.1,0.1,23.533188,45.4,7.3,8387,15.8,21.259091,10.667895,223.736011
4,1009,9475.459005,21.683050,57681,13.458505,9.032437,26976,13.175916,3.5,2.0,0.8,0.2,18.423376,47.7,3.4,21917,13.1,21.198157,10.764283,619.955005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,56037,13916.968750,14.620528,43521,4.634544,14.455091,36512,11.162427,10.3,2.0,4.7,0.2,21.739542,64.8,6.1,21487,14.7,22.325127,11.254220,179.600540
3128,56039,16775.594020,17.310997,23280,3.582474,42.418385,40914,6.125430,6.4,1.6,8.5,1.9,39.993612,75.4,1.1,14430,24.7,18.932779,12.746069,76.805143
3129,56041,6392.777251,16.890473,20479,4.594951,10.146980,29557,11.021046,8.4,1.6,3.0,0.0,20.333518,61.5,6.3,9294,16.7,27.135787,11.197673,105.488916
3130,56043,8324.150000,25.850255,8027,7.076118,16.157967,29327,10.090943,7.6,3.7,1.6,0.1,22.394764,59.0,3.9,3777,14.6,22.239873,15.019060,34.674376
3131,56045,9501.883436,24.783657,7049,4.582210,14.413392,27367,13.023124,7.0,3.9,4.6,0.0,16.361696,56.9,4.1,3221,14.9,19.528097,11.834849,26.144757

In [54]:
#NYT cases data
us_counties_cases = pd.read_csv("us-counties.csv")
#us_counties_cases.set_index('date',inplace=True)
us_counties_cases.reset_index(drop=True, inplace=True)
us_counties_cases

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
923757  2021-01-12  Sweetwater     Wyoming  56037.0   3210    26.0
923758  2021-01-12       Teton     Wyoming  56039.0   2497     4.0
923759  2021-01-12       Uinta     Wyoming  56041.0   1764     9.0
923760  2021-01-12    Washakie     Wyoming  56043.0    824    23.0
923761  2021-01-12      Weston     Wyoming  56045.0    601     4.0

[923762 rows x 6 columns]

In [55]:
# cases only for 1 day to match common counties NYT
# start= "2020-12-29"
# end = "2020-12-30"

start= "2020-08-01"
end = "2020-12-31"

us_counties_cases['date'] = pd.to_datetime(us_counties_cases['date'])
us_counties_cases.reset_index(drop=True, inplace=True)

#greater than the start date and smaller than the end date
mask = (us_counties_cases['date'] > start) & (us_counties_cases['date'] <= end)

us_counties_cases_dec = us_counties_cases.loc[mask]
us_counties_cases_dec.reset_index(drop=True, inplace=True)
us_counties_cases_dec

             date      county    state     fips  cases  deaths
0      2020-08-02     Autauga  Alabama   1001.0   1052    21.0
1      2020-08-02     Baldwin  Alabama   1003.0   3223    23.0
2      2020-08-02     Barbour  Alabama   1005.0    610     5.0
3      2020-08-02        Bibb  Alabama   1007.0    372     3.0
4      2020-08-02      Blount  Alabama   1009.0    813     3.0
...           ...         ...      ...      ...    ...     ...
492384 2020-12-31  Sweetwater  Wyoming  56037.0   2966    16.0
492385 2020-12-31       Teton  Wyoming  56039.0   2138     4.0
492386 2020-12-31       Uinta  Wyoming  56041.0   1558     7.0
492387 2020-12-31    Washakie  Wyoming  56043.0    780    19.0
492388 2020-12-31      Weston  Wyoming  56045.0    476     2.0

[492389 rows x 6 columns]

In [56]:
# us_counties_cases_new = us_counties_cases_dec.iloc[0:3244]
# #us_counties_cases_new

us_counties_cases = us_counties_cases_dec[['date', 'county', 'cases']].copy()
#us_counties_cases

us_counties_cases.reset_index(drop=True, inplace=True)
us_counties_cases = us_counties_cases
us_counties_cases

             date      county  cases
0      2020-08-02     Autauga   1052
1      2020-08-02     Baldwin   3223
2      2020-08-02     Barbour    610
3      2020-08-02        Bibb    372
4      2020-08-02      Blount    813
...           ...         ...    ...
492384 2020-12-31  Sweetwater   2966
492385 2020-12-31       Teton   2138
492386 2020-12-31       Uinta   1558
492387 2020-12-31    Washakie    780
492388 2020-12-31      Weston    476

[492389 rows x 3 columns]

In [107]:
us_counties_cases.county.unique()

array(['Autauga', 'Baldwin', 'Barbour', ..., 'Esmeralda', 'Loving',
       'Kalawao'], dtype=object)

In [48]:
county_list = []
for counties in us_counties_cases_dec["county"]:
    county_list.append(counties)
#print (len(county_list))

df_time_series = pd.DataFrame(columns = county_list)
df_time_series

Empty DataFrame
Columns: [Autauga, Baldwin, Barbour, Bibb, Blount, Bullock, Butler, Calhoun, Chambers, Cherokee, Chilton, Choctaw, Clarke, Clay, Cleburne, Coffee, Colbert, Conecuh, Coosa, Covington, Crenshaw, Cullman, Dale, Dallas, DeKalb, Elmore, Escambia, Etowah, Fayette, Franklin, Geneva, Greene, Hale, Henry, Houston, Jackson, Jefferson, Lamar, Lauderdale, Lawrence, Lee, Limestone, Lowndes, Macon, Madison, Marengo, Marion, Marshall, Mobile, Monroe, Montgomery, Morgan, Perry, Pickens, Pike, Randolph, Russell, Shelby, St. Clair, Sumter, Talladega, Tallapoosa, Tuscaloosa, Walker, Washington, Wilcox, Winston, Aleutians East Borough, Aleutians West Census Area, Anchorage, Bethel Census Area, Bristol Bay Borough, Denali Borough, Dillingham Census Area, Fairbanks North Star Borough, Haines Borough, Juneau City and Borough, Kenai Peninsula Borough, Ketchikan Gateway Borough, Kodiak Island Borough, Kusilvak Census Area, Lake and Peninsula Borough, Matanuska-Susitna Borough, Nome Census Area, North Slope Borough, Northwest Arctic Borough, Petersburg Borough, Prince of Wales-Hyder Census Area, Sitka City and Borough, Skagway Municipality, Southeast Fairbanks Census Area, Unknown, Valdez-Cordova Census Area, Wrangell City and Borough, Yukon-Koyukuk Census Area, Apache, Cochise, Coconino, Gila, Graham, ...]
Index: []

[0 rows x 3245 columns]

In [57]:
us_counties_cases

             date      county  cases
0      2020-08-02     Autauga   1052
1      2020-08-02     Baldwin   3223
2      2020-08-02     Barbour    610
3      2020-08-02        Bibb    372
4      2020-08-02      Blount    813
...           ...         ...    ...
492384 2020-12-31  Sweetwater   2966
492385 2020-12-31       Teton   2138
492386 2020-12-31       Uinta   1558
492387 2020-12-31    Washakie    780
492388 2020-12-31      Weston    476

[492389 rows x 3 columns]

In [58]:
county_num = 3245
row = 0
for index in range(us_counties_cases.shape[0]):    
    county_found = us_counties_cases["county"].iloc[index]
    if index <= county_num:
        df_time_series.loc[row,county_found] = us_counties_cases.loc[index,"cases"]
        
    else:
        county_num = (county_num * 1) + 3245
        row = row + 1
    
df_time_series

,Autauga,Baldwin,Barbour,Bibb,Blount,Bullock,Butler,Calhoun,Chambers,Cherokee,...,Niobrara,Park,Platte,Sheridan,Sublette,Sweetwater,Teton,Uinta,Washakie,Weston
0,1066,3265,612,382,830,446,767,1612,875,263,...,2,117,5,60,37,247,354,262,48,5
1,1073,3320,614,389,836,449,766,1646,882,269,...,2,117,5,61,37,250,358,265,48,5
2,1073,3380,615,392,839,452,769,1683,886,271,...,2,117,5,62,39,251,362,267,53,5
3,1096,3438,619,421,874,458,771,1741,893,283,...,2,124,5,64,39,252,363,268,57,5
4,1113,3504,624,424,909,462,774,15,899,292,...,2,128,5,68,38,253,367,272,58,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,4065,3079,1417,9730,4483,830,1249,1171,2229,1207,...,140,376,420,2463,582,2854,693,1497,746,466
148,4105,3146,1462,9829,4535,834,1255,1172,2275,1220,...,140,379,421,2491,586,2921,698,1507,762,467
149,4164,3176,1492,9971,4584,846,1267,1173,2310,1229,...,140,382,425,2507,590,2929,709,1521,763,471
150,4190,3203,1514,10126,4641,859,1277,1173,2341,1233,...,140,385,434,2521,592,2943,723,1540,767,475
151,NaN,NaN,765,NaN,9976,NaN,9361,130,2627,3026,...,140,2021,440,2543,597,2966,2138,1558,780,476

In [30]:
df_time_series = df_time_series.drop(["Days"], axis=1)

In [429]:
df_time_series.loc[0,"Autauga"] = 1066
#df_time_series.loc[151,"Bibb"]

In [21]:
rows_with_nan = []
for index, row in df_time_series.iterrows():
    is_nan_series = row.isnull()
    if is_nan_series.any():
        rows_with_nan.append(index)

print((rows_with_nan))

[151]

In [59]:
for column in df_time_series.columns :
    for index, row in df_time_series.iterrows():
        if index >0 :
            if (pd.isnull(df_time_series.loc[index,column])) is True:
                #print ("Previous index:", index - 1)
                #print ("Index previous value is:",df_time_series.loc[index -1,column])
                df_time_series.loc[index,column] = df_time_series.loc[index -1,column]

In [396]:
df_time_series["Daggett"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
147     15
148     17
149     17
150     17
151     18
Name: Daggett, Length: 152, dtype: object

In [60]:
df_time_series = df_time_series[:150]
# df_time_series.insert(0, 'Days', range(1,len(df_time_series)+1))
df_time_series

,Autauga,Baldwin,Barbour,Bibb,Blount,Bullock,Butler,Calhoun,Chambers,Cherokee,...,Niobrara,Park,Platte,Sheridan,Sublette,Sweetwater,Teton,Uinta,Washakie,Weston
0,1066,3265,612,382,830,446,767,1612,875,263,...,2,117,5,60,37,247,354,262,48,5
1,1073,3320,614,389,836,449,766,1646,882,269,...,2,117,5,61,37,250,358,265,48,5
2,1073,3380,615,392,839,452,769,1683,886,271,...,2,117,5,62,39,251,362,267,53,5
3,1096,3438,619,421,874,458,771,1741,893,283,...,2,124,5,64,39,252,363,268,57,5
4,1113,3504,624,424,909,462,774,15,899,292,...,2,128,5,68,38,253,367,272,58,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,3999,3061,1398,9630,4446,825,1245,1164,2203,1191,...,137,369,418,2432,579,2820,687,1475,725,460
146,4029,3069,1406,9685,4465,827,1248,1166,2214,1194,...,139,373,420,2458,582,2845,688,1495,750,461
147,4065,3079,1417,9730,4483,830,1249,1171,2229,1207,...,140,376,420,2463,582,2854,693,1497,746,466
148,4105,3146,1462,9829,4535,834,1255,1172,2275,1220,...,140,379,421,2491,586,2921,698,1507,762,467
149,4164,3176,1492,9971,4584,846,1267,1173,2310,1229,...,140,382,425,2507,590,2929,709,1521,763,471

In [61]:
start, end = '2020-08-01 00:00:00', '2020-12-28 00:00:00'
rng = pd.date_range(start, end, freq='1440min')
# ts = pd.Series(np.arange(len(rng)) * 1, index=rng)
#print (type(rng))
df_time_series.insert(0, 'Days',rng)
df_time_series

,Days,Autauga,Baldwin,Barbour,Bibb,Blount,Bullock,Butler,Calhoun,Chambers,...,Niobrara,Park,Platte,Sheridan,Sublette,Sweetwater,Teton,Uinta,Washakie,Weston
0,2020-08-01,1066,3265,612,382,830,446,767,1612,875,...,2,117,5,60,37,247,354,262,48,5
1,2020-08-02,1073,3320,614,389,836,449,766,1646,882,...,2,117,5,61,37,250,358,265,48,5
2,2020-08-03,1073,3380,615,392,839,452,769,1683,886,...,2,117,5,62,39,251,362,267,53,5
3,2020-08-04,1096,3438,619,421,874,458,771,1741,893,...,2,124,5,64,39,252,363,268,57,5
4,2020-08-05,1113,3504,624,424,909,462,774,15,899,...,2,128,5,68,38,253,367,272,58,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2020-12-24,3999,3061,1398,9630,4446,825,1245,1164,2203,...,137,369,418,2432,579,2820,687,1475,725,460
146,2020-12-25,4029,3069,1406,9685,4465,827,1248,1166,2214,...,139,373,420,2458,582,2845,688,1495,750,461
147,2020-12-26,4065,3079,1417,9730,4483,830,1249,1171,2229,...,140,376,420,2463,582,2854,693,1497,746,466
148,2020-12-27,4105,3146,1462,9829,4535,834,1255,1172,2275,...,140,379,421,2491,586,2921,698,1507,762,467
149,2020-12-28,4164,3176,1492,9971,4584,846,1267,1173,2310,...,140,382,425,2507,590,2929,709,1521,763,471

In [63]:
(df_time_series)

,Days,Autauga,Baldwin,Barbour,Bibb,Blount,Bullock,Butler,Calhoun,Chambers,...,Niobrara,Park,Platte,Sheridan,Sublette,Sweetwater,Teton,Uinta,Washakie,Weston
0,2020-08-01,1066,3265,612,382,830,446,767,1612,875,...,2,117,5,60,37,247,354,262,48,5
1,2020-08-02,1073,3320,614,389,836,449,766,1646,882,...,2,117,5,61,37,250,358,265,48,5
2,2020-08-03,1073,3380,615,392,839,452,769,1683,886,...,2,117,5,62,39,251,362,267,53,5
3,2020-08-04,1096,3438,619,421,874,458,771,1741,893,...,2,124,5,64,39,252,363,268,57,5
4,2020-08-05,1113,3504,624,424,909,462,774,15,899,...,2,128,5,68,38,253,367,272,58,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2020-12-24,3999,3061,1398,9630,4446,825,1245,1164,2203,...,137,369,418,2432,579,2820,687,1475,725,460
146,2020-12-25,4029,3069,1406,9685,4465,827,1248,1166,2214,...,139,373,420,2458,582,2845,688,1495,750,461
147,2020-12-26,4065,3079,1417,9730,4483,830,1249,1171,2229,...,140,376,420,2463,582,2854,693,1497,746,466
148,2020-12-27,4105,3146,1462,9829,4535,834,1255,1172,2275,...,140,379,421,2491,586,2921,698,1507,762,467
149,2020-12-28,4164,3176,1492,9971,4584,846,1267,1173,2310,...,140,382,425,2507,590,2929,709,1521,763,471

In [64]:
df_time_series.to_csv("county_data.csv", index = False)

In [420]:
df_time_series[df_time_series.isna().any(axis=1)]

Empty DataFrame
Columns: [Autauga, Baldwin, Barbour, Bibb, Blount, Bullock, Butler, Calhoun, Chambers, Cherokee, Chilton, Choctaw, Clarke, Clay, Cleburne, Coffee, Colbert, Conecuh, Coosa, Covington, Crenshaw, Cullman, Dale, Dallas, DeKalb, Elmore, Escambia, Etowah, Fayette, Franklin, Geneva, Greene, Hale, Henry, Houston, Jackson, Jefferson, Lamar, Lauderdale, Lawrence, Lee, Limestone, Lowndes, Macon, Madison, Marengo, Marion, Marshall, Mobile, Monroe, Montgomery, Morgan, Perry, Pickens, Pike, Randolph, Russell, Shelby, St. Clair, Sumter, Talladega, Tallapoosa, Tuscaloosa, Walker, Washington, Wilcox, Winston, Aleutians East Borough, Aleutians West Census Area, Anchorage, Bethel Census Area, Bristol Bay Borough, Denali Borough, Dillingham Census Area, Fairbanks North Star Borough, Haines Borough, Juneau City and Borough, Kenai Peninsula Borough, Ketchikan Gateway Borough, Kodiak Island Borough, Kusilvak Census Area, Lake and Peninsula Borough, Matanuska-Susitna Borough, Nome Census Area, North Slope Borough, Northwest Arctic Borough, Petersburg Borough, Prince of Wales-Hyder Census Area, Sitka City and Borough, Southeast Fairbanks Census Area, Unknown, Valdez-Cordova Census Area, Wrangell City and Borough, Yukon-Koyukuk Census Area, Apache, Cochise, Coconino, Gila, Graham, Greenlee, ...]
Index: []

[0 rows x 3230 columns]

In [421]:
#df_time_series.iloc[151].values.tolist()

In [422]:
# df_time_series.Covington.iloc[2] = 500
# #df.feature_a.iloc[[1, 3, 15]] = 88
# df_time_series["Covington"]

In [188]:
#take common counties from census and NYT and safegraph

start= "2020-12-30"
end = "2020-12-31"

us_counties_cases['date'] = pd.to_datetime(us_counties_cases['date'])

#greater than the start date and smaller than the end date
mask = (us_counties_cases['date'] > start) & (us_counties_cases['date'] <= end)

us_counties_cases_date = us_counties_cases.loc[mask]
#us_counties_cases_date

common_counties_data = pd.merge(census_df,us_counties_cases_dec, left_on= 'origin_county_FIPS',right_on= 'fips',how = 'outer')
#merged_counties=merged.drop('fips', axis =1)
common_counties_data = common_counties_data.dropna()

common_counties_data

      origin_county_FIPS  mean_distance_traveled_from_home    Over_62  Total_population  less_than_high  at_least_bachelor  median_income  below_poverty_100_percent  moved_within_same  moved_from_different_same_state  moved_from_different_state  from_abroad  percentage_renter  employment_population_ratio  unemployment_rate  total_workers  service_occupation  educational_services_healthcare_social_assistance  uninsured         risk       date      county    state     fips  cases  deaths
0                 1001.0                       7327.808835  17.425063           55380.0        7.748285          17.928855        29725.0                  14.792344                5.4                              3.7                         2.8          0.2          25.745373                         55.8                3.7        24522.0                16.8                                          20.230813   7.068485   565.600165 2020-12-31     Autauga  Alabama   1001.0   4190    48.0
1                 1003.0                       8251.814543  24.391298          212830.0        6.527745          22.622751        29802.0                  10.035239                6.2                              2.3                         2.9          0.4          23.236205                         55.2                4.3        95091.0                17.8                                          20.250076   8.881862  2031.578001 2020-12-31     Baldwin  Alabama   1003.0  13601   161.0
2                 1005.0                      11323.359240  22.400536           25361.0       18.974015           8.201569        17963.0                  26.162218                9.3                              3.1                         1.9          0.3          39.532575                         40.8                9.2         8413.0                15.4                                          18.269345  11.319244   174.525585 2020-12-31     Barbour  Alabama   1005.0   1514    32.0
3                 1007.0                       9084.631424  19.850620           22493.0       15.053572           7.460099        21958.0                  16.191704                3.5                              5.6                         1.1          0.1          23.533188                         45.4                7.3         8387.0                15.8                                          21.259091  10.667895   223.736011 2020-12-31        Bibb  Alabama   1007.0   1834    46.0
4                 1009.0                       9475.459005  21.683050           57681.0       13.458505           9.032437        26976.0                  13.175916                3.5                              2.0                         0.8          0.2          18.423376                         47.7                3.4        21917.0                13.1                                          21.198157  10.764283   619.955005 2020-12-31      Blount  Alabama   1009.0   4641    63.0
...                  ...                               ...        ...               ...             ...                ...            ...                        ...                ...                              ...                         ...          ...                ...                          ...                ...            ...                 ...                                                ...        ...          ...        ...         ...      ...      ...    ...     ...
3127             56037.0                      13916.968750  14.620528           43521.0        4.634544          14.455091        36512.0                  11.162427               10.3                              2.0                         4.7          0.2          21.739542                         64.8                6.1        21487.0                14.7                                          22.325127  11.254220   179.600540 2020-12-31  Sweetwater  Wyoming  56037.0   2966    16.0
3128             56039.0                      16775.594020  17.310997           23280.0        3.582474          42.418385        40914.0                   6.125430                6.4                              1.6                         8.5          1.9          39.993612                         75.4                1.1        14430.0                24.7                                          18.932779  12.746069    76.805143 2020-12-31       Teton  Wyoming  56039.0   2138     4.0
3129             56041.0                       6392.777251  16.890473           20479.0        4.594951          10.146980        29557.0                  11.021046                8.4                              1.6                         3.0          0.0          20.333518                         61.5                6.3         9294.0                16.7                                          27.135787  11.197673   105.488916 2020-12-31       Uinta  Wyoming  56041.0   1558     7.0
3130             56043.0                       8324.150000  25.850255            8027.0        7.076118          16.157967        29327.0                  10.090943                7.6                              3.7                         1.6          0.1          22.394764                         59.0                3.9         3777.0                14.6                                          22.239873  15.019060    34.674376 2020-12-31    Washakie  Wyoming  56043.0    780    19.0
3131             56045.0                       9501.883436  24.783657            7049.0        4.582210          14.413392        27367.0                  13.023124                7.0                              3.9                         4.6          0.0          16.361696                         56.9                4.1         3221.0                14.9                                          19.528097  11.834849    26.144757 2020-12-31      Weston  Wyoming  56045.0    476     2.0

[3132 rows x 26 columns]

In [217]:
common_counties_data.to_csv("common_counties_data.csv")

In [189]:
# create label and feature matrix

feats_mat = common_counties_data

feats_mat = feats_mat.drop(['county', 'state','date','fips','cases','deaths','origin_county_FIPS'], axis = 1) 
feats_mat

#label_mat = common_counties_data["cases"]

      mean_distance_traveled_from_home    Over_62  Total_population  less_than_high  at_least_bachelor  median_income  below_poverty_100_percent  moved_within_same  moved_from_different_same_state  moved_from_different_state  from_abroad  percentage_renter  employment_population_ratio  unemployment_rate  total_workers  service_occupation  educational_services_healthcare_social_assistance  uninsured         risk
0                          7327.808835  17.425063           55380.0        7.748285          17.928855        29725.0                  14.792344                5.4                              3.7                         2.8          0.2          25.745373                         55.8                3.7        24522.0                16.8                                          20.230813   7.068485   565.600165
1                          8251.814543  24.391298          212830.0        6.527745          22.622751        29802.0                  10.035239                6.2                              2.3                         2.9          0.4          23.236205                         55.2                4.3        95091.0                17.8                                          20.250076   8.881862  2031.578001
2                         11323.359240  22.400536           25361.0       18.974015           8.201569        17963.0                  26.162218                9.3                              3.1                         1.9          0.3          39.532575                         40.8                9.2         8413.0                15.4                                          18.269345  11.319244   174.525585
3                          9084.631424  19.850620           22493.0       15.053572           7.460099        21958.0                  16.191704                3.5                              5.6                         1.1          0.1          23.533188                         45.4                7.3         8387.0                15.8                                          21.259091  10.667895   223.736011
4                          9475.459005  21.683050           57681.0       13.458505           9.032437        26976.0                  13.175916                3.5                              2.0                         0.8          0.2          18.423376                         47.7                3.4        21917.0                13.1                                          21.198157  10.764283   619.955005
...                                ...        ...               ...             ...                ...            ...                        ...                ...                              ...                         ...          ...                ...                          ...                ...            ...                 ...                                                ...        ...          ...
3127                      13916.968750  14.620528           43521.0        4.634544          14.455091        36512.0                  11.162427               10.3                              2.0                         4.7          0.2          21.739542                         64.8                6.1        21487.0                14.7                                          22.325127  11.254220   179.600540
3128                      16775.594020  17.310997           23280.0        3.582474          42.418385        40914.0                   6.125430                6.4                              1.6                         8.5          1.9          39.993612                         75.4                1.1        14430.0                24.7                                          18.932779  12.746069    76.805143
3129                       6392.777251  16.890473           20479.0        4.594951          10.146980        29557.0                  11.021046                8.4                              1.6                         3.0          0.0          20.333518                         61.5                6.3         9294.0                16.7                                          27.135787  11.197673   105.488916
3130                       8324.150000  25.850255            8027.0        7.076118          16.157967        29327.0                  10.090943                7.6                              3.7                         1.6          0.1          22.394764                         59.0                3.9         3777.0                14.6                                          22.239873  15.019060    34.674376
3131                       9501.883436  24.783657            7049.0        4.582210          14.413392        27367.0                  13.023124                7.0                              3.9                         4.6          0.0          16.361696                         56.9                4.1         3221.0                14.9                                          19.528097  11.834849    26.144757

[3132 rows x 19 columns]

In [191]:
start= "2020-11-30"
end = "2020-12-31"

us_counties_cases['date'] = pd.to_datetime(us_counties_cases['date'])

#greater than the start date and smaller than the end date
mask = (us_counties_cases['date'] > start) & (us_counties_cases['date'] <= end)

us_counties_cases_dec = us_counties_cases.loc[mask]
#us_counties_cases_dec


us_counties_cases_dec = pd.merge(us_counties_cases_dec,common_counties_data, left_on= 'fips',right_on= 'origin_county_FIPS',how = 'inner')
us_counties_cases_dec

          date_x county_x  state_x   fips_x  cases_x  deaths_x  origin_county_FIPS  mean_distance_traveled_from_home    Over_62  Total_population  less_than_high  at_least_bachelor  median_income  below_poverty_100_percent  moved_within_same  moved_from_different_same_state  moved_from_different_state  from_abroad  percentage_renter  employment_population_ratio  unemployment_rate  total_workers  service_occupation  educational_services_healthcare_social_assistance  uninsured        risk     date_y county_y  state_y   fips_y  cases_y  deaths_y
0     2020-12-01  Autauga  Alabama   1001.0     2818      42.0              1001.0                       7327.808835  17.425063           55380.0        7.748285          17.928855        29725.0                  14.792344                5.4                              3.7                         2.8          0.2          25.745373                         55.8                3.7        24522.0                16.8                                          20.230813   7.068485  565.600165 2020-12-31  Autauga  Alabama   1001.0     4190      48.0
1     2020-12-02  Autauga  Alabama   1001.0     2873      42.0              1001.0                       7327.808835  17.425063           55380.0        7.748285          17.928855        29725.0                  14.792344                5.4                              3.7                         2.8          0.2          25.745373                         55.8                3.7        24522.0                16.8                                          20.230813   7.068485  565.600165 2020-12-31  Autauga  Alabama   1001.0     4190      48.0
2     2020-12-03  Autauga  Alabama   1001.0     2893      42.0              1001.0                       7327.808835  17.425063           55380.0        7.748285          17.928855        29725.0                  14.792344                5.4                              3.7                         2.8          0.2          25.745373                         55.8                3.7        24522.0                16.8                                          20.230813   7.068485  565.600165 2020-12-31  Autauga  Alabama   1001.0     4190      48.0
3     2020-12-04  Autauga  Alabama   1001.0     2945      42.0              1001.0                       7327.808835  17.425063           55380.0        7.748285          17.928855        29725.0                  14.792344                5.4                              3.7                         2.8          0.2          25.745373                         55.8                3.7        24522.0                16.8                                          20.230813   7.068485  565.600165 2020-12-31  Autauga  Alabama   1001.0     4190      48.0
4     2020-12-05  Autauga  Alabama   1001.0     2979      42.0              1001.0                       7327.808835  17.425063           55380.0        7.748285          17.928855        29725.0                  14.792344                5.4                              3.7                         2.8          0.2          25.745373                         55.8                3.7        24522.0                16.8                                          20.230813   7.068485  565.600165 2020-12-31  Autauga  Alabama   1001.0     4190      48.0
...          ...      ...      ...      ...      ...       ...                 ...                               ...        ...               ...             ...                ...            ...                        ...                ...                              ...                         ...          ...                ...                          ...                ...            ...                 ...                                                ...        ...         ...        ...      ...      ...      ...      ...       ...
97087 2020-12-27   Weston  Wyoming  56045.0      466       2.0             56045.0                       9501.883436  24.783657            7049.0        4.582210          14.413392        27367.0                  13.023124                7.0                              3.9                         4.6          0.0          16.361696                         56.9                4.1         3221.0                14.9                                          19.528097  11.834849   26.144757 2020-12-31   Weston  Wyoming  56045.0      476       2.0
97088 2020-12-28   Weston  Wyoming  56045.0      467       2.0             56045.0                       9501.883436  24.783657            7049.0        4.582210          14.413392        27367.0                  13.023124                7.0                              3.9                         4.6          0.0          16.361696                         56.9                4.1         3221.0                14.9                                          19.528097  11.834849   26.144757 2020-12-31   Weston  Wyoming  56045.0      476       2.0
97089 2020-12-29   Weston  Wyoming  56045.0      471       2.0             56045.0                       9501.883436  24.783657            7049.0        4.582210          14.413392        27367.0                  13.023124                7.0                              3.9                         4.6          0.0          16.361696                         56.9                4.1         3221.0                14.9                                          19.528097  11.834849   26.144757 2020-12-31   Weston  Wyoming  56045.0      476       2.0
97090 2020-12-30   Weston  Wyoming  56045.0      475       2.0             56045.0                       9501.883436  24.783657            7049.0        4.582210          14.413392        27367.0                  13.023124                7.0                              3.9                         4.6          0.0          16.361696                         56.9                4.1         3221.0                14.9                                          19.528097  11.834849   26.144757 2020-12-31   Weston  Wyoming  56045.0      476       2.0
97091 2020-12-31   Weston  Wyoming  56045.0      476       2.0             56045.0                       9501.883436  24.783657            7049.0        4.582210          14.413392        27367.0                  13.023124                7.0                              3.9                         4.6          0.0          16.361696                         56.9                4.1         3221.0                14.9                                          19.528097  11.834849   26.144757 2020-12-31   Weston  Wyoming  56045.0      476       2.0

[97092 rows x 32 columns]

In [197]:
# create the label matrix
label_mat = np.zeros((31,3132)) # Nos of days * all counties
print (label_mat.shape)

for i in range(0,30):
    for j in range(0,3131):
        #print (i,j) 
        if i == 0:
            k = j
            label_mat[i][j] = us_counties_cases_dec.iloc[k]['cases_x']
        else:
            k = j + 3131 * i
            label_mat[i][j] = us_counties_cases_dec.iloc[k]['cases_x']
            
label_mat

(31, 3132)

array([[2.81800e+03, 2.87300e+03, 2.89300e+03, ..., 3.17268e+05,
        3.22449e+05, 0.00000e+00],
       [6.47700e+03, 6.60800e+03, 6.79200e+03, ..., 7.56412e+05,
        7.70915e+05, 0.00000e+00],
       [6.34600e+03, 6.42700e+03, 6.48200e+03, ..., 3.46000e+02,
        3.47000e+02, 0.00000e+00],
       ...,
       [1.21400e+03, 1.22400e+03, 1.23000e+03, ..., 1.56400e+03,
        1.58500e+03, 0.00000e+00],
       [2.77600e+03, 2.80300e+03, 2.81200e+03, ..., 3.53000e+02,
        3.57000e+02, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [214]:
label_mat = label_mat.T
label_mat.shape

(3132, 31)

In [215]:
np.save("labels.npy",label_mat) # 3132 * 19 feats
np.save("feats.npy",feats_mat) ## 3132 * 31 days

In [154]:
np.save("feats.npy",feats)

In [155]:
train_idx = np.load("C://Users//padma//Documents//GNN_PAPER//correlation-gnn-master//data//county//election//2012//train_idx.npy")
train_idx

array([1057,  440,  602, ...,  311, 2941, 1511], dtype=int64)

In [156]:
len(train_idx)

1941

In [206]:
train_idx = np.random.randint(low=0, high=2200, size=(1941,))
train_idx

array([  64,  714, 1423, ...,  343,  942, 1603])

In [207]:
np.save("train_idx.npy",train_idx)

In [210]:
test_idx = np.load("C://Users//padma//Documents//GNN_PAPER//correlation-gnn-master//data//county//election//2012//test_idx.npy")
test_idx

array([1015, 1165, 2898, 1085,  994,  293, 2591, 2097,  917, 1464, 2697,
       2914, 2899, 1881,  552,  345, 1187,  644,  696, 1774, 3089, 2593,
       1524,  193, 1706, 2935, 1133,  777, 1955,  199, 2688,  302, 2646,
       3227, 2410,  351,  168,  896, 2604, 1150, 2875, 2460, 2693, 2024,
       3226, 1660, 2859,  103, 3215,  814, 1993, 2614, 3178, 2957, 1899,
       2348, 2211, 1517, 2763, 2271, 2098, 1917,  621,   47, 1546, 1707,
       2853, 3219, 1424, 2126,  912, 2040, 2689,  797, 1126, 3060, 1757,
       1371,  647, 1033, 2681,  257,  695, 3169, 2533, 1240, 1844, 2160,
       1647, 2738,  713, 1851,    9,  341, 3083, 2694, 1966, 1006, 1204,
       1235, 2333,  357, 3123, 2976, 2561, 3078,  708,  632, 2578, 1427,
        393, 2275, 2874, 1041,  730, 2249,  287,  314, 2723, 2915, 2878,
       2168, 1409,  251, 2172,  845,  411, 1206, 3110,  510,  367, 2823,
       1490, 1893, 2685, 3109, 1116, 1568,  967, 2695,  517, 1953, 3072,
       2269, 1572,  575,  275,  132, 1635, 1115, 2504,  532, 1548, 1860,
       1131,  189, 2106, 1170,   37, 2529, 1900, 2848, 2120,  697, 1550,
        815, 1220, 2828,  162, 2682,  916, 1483,   43, 2708, 2624,  950,
       3172, 1257,   76,  520,  906, 2481,  668, 2870, 3070, 3017, 1659,
        717, 1885,  682, 2064, 2059, 2722, 1393, 2758, 2007,  873, 2628,
       3034, 2289, 2865, 2741,  818,  217, 1947, 1918,  775,  739, 1588,
       2583, 2370,   45, 2931, 2721, 1717, 2663,  153,  299,  974, 1232,
       1075, 2261, 1645, 3077, 3160, 2344, 1086,  843, 1061,  125, 2857,
       3151,  354, 2362, 3032, 3003, 1518, 1662, 1930,  183, 2620, 1995,
       2378,  774, 1392, 1166,  423, 2113, 1306, 1212,  767,  128,  822,
       2819,   49,  671, 1355, 1783, 1506, 2989, 1684, 1176, 1245, 2365,
       2725,  639, 2319, 1333, 2812, 1640, 1434, 2404, 3207,  888, 2493,
       2959, 3014, 2187, 2508,  213, 2461,  102,   72, 1965, 1864, 1512,
       1121, 2998, 1889, 1689,  350,  188, 3168, 2999, 2501, 1747,  905,
       1553, 3085, 1396,  612, 2293,  121,  243, 1031, 1291,  392, 2580,
        491, 2936, 3146,   93, 2911, 1051,  857, 1029, 1665, 2535,   90,
       2338, 1846, 1708, 2284, 1076, 1729, 2572, 2716, 1303,  559,   91,
        531,   46, 1228,  370,  600,   58, 2982, 3177, 1789, 3074,  321,
       2785,  948,  452, 2555, 1146, 1219, 1919,  240,  889, 2180,  320,
        634, 3041,  915,  274, 2983,  169, 2257, 1528,  170, 2070,  662,
        893,  146, 2816, 2548, 2519, 1563, 3127, 1096, 1676, 1582,  728,
        259,  480, 1366,  123,  971, 2326, 2622, 2736, 2174, 1623, 1656,
        630, 1199, 2955,  800, 1213, 2787, 1688, 1200, 2790, 1875, 2676,
       2141, 2691, 2131,   17, 1209, 2800, 2403, 2734,  104, 2414, 2551,
       2263, 1381, 1710, 2216, 2801, 2556,  564, 2840, 2390, 1577,  145,
       2149,  936, 2107, 3191, 2478, 2011,  236, 1421, 2193, 1168, 1585,
       1310, 2283,  177, 1902,  167,  327, 2139, 1505, 2019, 1036, 3011,
        165, 1897,  550,  895, 1350,  150,  945,  369, 3144, 2778,  229,
       1629,  340, 1940, 3124, 2255, 2922, 2384, 1343,  494, 2123,  298,
       1666,    2, 1362, 3223, 1457,  362, 2907, 2645, 3120, 1439,  720,
        990, 2184, 1377, 2329, 2932,  928, 1904, 2276,  498,  490, 2474,
       1341, 1273, 3043, 2166, 1468,  830, 2588,  987, 2514, 1080,  174,
       2625,  681, 2399, 3084,  605, 1093,  474, 1423, 2545, 1775, 1394,
        331,  788, 1929, 2336, 2637, 1259, 1690, 2585,  528, 3179, 3195,
         86,  576, 2656, 1967,  147, 2639,  324, 2705,  258, 2448, 1674,
       3135, 2678, 1444,  580, 3052,  318, 2230,  317,   20, 2052,   64,
       1314, 2327, 2281, 1485, 3076, 1386, 1054,   25, 1838, 3031, 2797,
        579, 1613, 2895,  221,  482,  519, 2630,  194, 1529, 2023, 2698,
       2395, 1391, 1098, 2328, 2065, 1856, 2225,  160,  400,  816, 2102,
       1342, 1324, 1691, 1069, 1113, 1171, 1073, 1158,  114,  304, 1533,
       1795, 1340,  690, 2755, 2009,  898, 2371,  842,  209, 2654, 2542,
       1182, 1236, 2532,  991,  555,  330,   83, 3013, 2605, 3053, 2534,
       2649, 2967,  694, 2391,  725,   61, 1581, 1702,  210, 1671,  446,
       2138, 3038, 3143, 1808,  899, 2267, 2761, 2494, 2430, 2752, 2720,
        914,  544,  587,  161, 1569, 2557,  856,  461, 2718, 2592, 2537,
       2796, 1154, 2304, 1450, 2453, 1611,   30, 2381, 1151], dtype=int64)

In [211]:
len(test_idx)

647

In [212]:
test_idx = np.random.randint(low=2400, high=3132, size=(646,))
len(test_idx)

646

In [209]:
np.save("val_idx.npy",val_idx)

In [213]:
np.save("test_idx.npy",test_idx)

In [5]:
import numpy as np
adj_mat = np.load("C://Users//padma//Documents//GNN_PAPER//adjacency.npz")
adj_mat

In [ ]:
import numpy as np
covariates = np.load("C://Users//padma//Documents//GNN_PAPER//adjacency.npz")

In [1]:
import numpy as np
covariates = np.load("C://Users//padma//Documents//GNN_PAPER//DeepAR-pytorch-master//data//elect//train_data_elect.npy")
covariates

array([[[ 0.0000000e+00, -1.7319772e+00,  6.0000000e+00,  0.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        [ 3.5188687e-01, -1.7318301e+00,  6.0000000e+00,  1.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        [ 4.0602335e-01, -1.7316830e+00,  6.0000000e+00,  2.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        ...,
        [ 1.5699568e+00, -1.7041690e+00,  6.0000000e+00,  2.1000000e+01,
          1.0000000e+00,  0.0000000e+00],
        [ 8.9325136e-01, -1.7040219e+00,  6.0000000e+00,  2.2000000e+01,
          1.0000000e+00,  0.0000000e+00],
        [ 1.5699568e+00, -1.7038748e+00,  6.0000000e+00,  2.3000000e+01,
          1.0000000e+00,  0.0000000e+00]],

       [[ 0.0000000e+00, -1.7284460e+00,  0.0000000e+00,  0.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        [ 3.1062081e-01, -1.7282989e+00,  0.0000000e+00,  1.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        [ 3.3650586e-01, -1.7281518e+00,  0.0000000e+00,  2.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        ...,
        [ 8.5420728e-01, -1.7006379e+00,  0.0000000e+00,  2.1000000e+01,
          1.0000000e+00,  0.0000000e+00],
        [ 9.5774752e-01, -1.7004907e+00,  0.0000000e+00,  2.2000000e+01,
          1.0000000e+00,  0.0000000e+00],
        [ 1.5013338e+00, -1.7003436e+00,  0.0000000e+00,  2.3000000e+01,
          1.0000000e+00,  0.0000000e+00]],

       [[ 0.0000000e+00, -1.7249149e+00,  1.0000000e+00,  0.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        [ 3.3106649e-01, -1.7247677e+00,  1.0000000e+00,  1.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        [ 3.0559984e-01, -1.7246206e+00,  1.0000000e+00,  2.0000000e+00,
          1.0000000e+00,  0.0000000e+00],
        ...,
        [ 1.4006659e+00, -1.6971067e+00,  1.0000000e+00,  2.1000000e+01,
          1.0000000e+00,  0.0000000e+00],
        [ 8.6586624e-01, -1.6969596e+00,  1.0000000e+00,  2.2000000e+01,
          1.0000000e+00,  0.0000000e+00],
        [ 4.0746647e-01, -1.6968124e+00,  1.0000000e+00,  2.3000000e+01,
          1.0000000e+00,  0.0000000e+00]],

       ...,

       [[ 0.0000000e+00,  1.6364125e+00,  4.0000000e+00,  0.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        [ 9.2988724e-01,  1.6366472e+00,  4.0000000e+00,  1.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        [ 9.8936045e-01,  1.6368819e+00,  4.0000000e+00,  2.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        ...,
        [ 9.2121410e-01,  1.6807699e+00,  4.0000000e+00,  2.1000000e+01,
          8.0000000e+00,  3.6900000e+02],
        [ 1.0903409e+00,  1.6810046e+00,  4.0000000e+00,  2.2000000e+01,
          8.0000000e+00,  3.6900000e+02],
        [ 1.0810483e+00,  1.6812392e+00,  4.0000000e+00,  2.3000000e+01,
          8.0000000e+00,  3.6900000e+02]],

       [[ 0.0000000e+00,  1.6420451e+00,  5.0000000e+00,  0.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        [ 1.1647584e+00,  1.6422799e+00,  5.0000000e+00,  1.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        [ 9.5337856e-01,  1.6425146e+00,  5.0000000e+00,  2.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        ...,
        [ 1.0042089e+00,  1.6864026e+00,  5.0000000e+00,  2.1000000e+01,
          8.0000000e+00,  3.6900000e+02],
        [ 9.8809201e-01,  1.6866373e+00,  5.0000000e+00,  2.2000000e+01,
          8.0000000e+00,  3.6900000e+02],
        [ 9.9491072e-01,  1.6868720e+00,  5.0000000e+00,  2.3000000e+01,
          8.0000000e+00,  3.6900000e+02]],

       [[ 0.0000000e+00,  1.6476779e+00,  6.0000000e+00,  0.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        [ 9.3475813e-01,  1.6479126e+00,  6.0000000e+00,  1.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        [ 8.8985980e-01,  1.6481472e+00,  6.0000000e+00,  2.0000000e+00,
          8.0000000e+00,  3.6900000e+02],
        ...,
        [ 9.9025744e-01,  1.6920353e+00,  6.0000000e+00,  2.1000000e+01,
          8.0000000e+00,  3.6900000e+02],
        [ 1.0912787e+00,  1.6922699e+00,  6.0000000e+00,  2.2000000e+01,
          8.0000000e+00,  3.6900000e+02],
        [ 1.0058471e+00,  1.6925046e+00,  6.0000000e+00,  2.3000000e+01,
          8.0000000e+00,  3.6900000e+02]]], dtype=float32)